[33mcommit dfd92bc1a48e3354c997a00df30294f4cb77e02f[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmaster[m[33m)[m
Author: hidar <hidergomaa18@gmail.com>
Date:   Tue Jul 8 18:09:07 2025 +0300

    hello message

[33mcommit 584edccac4abda1051e0be1a69a158ec40537d0b[m
Author: hidar <hidergomaa18@gmail.com>
Date:   Tue Jul 8 17:59:22 2025 +0300

    create file javascript and file css

[33mcommit 161e89c9a876c0d286446bbe90522ebb214a9f48[m
Author: hidar <hidergomaa18@gmail.com>
Date:   Tue Jul 8 17:55:54 2025 +0300

    creat page html
